@mixin sectionHeadH4($bg, $color){
    margin: 0;
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $color;
    margin: 0;
    background-color: $bg;
    padding: 1.5rem;
    padding-left: 19rem;
}

